</head>
  <body class="enable-fixed-header enable-inview-animations">


    <!-- CORE : begin -->
    <div id="core" class="page-about-us">

      <!-- CONTENT SECTION : begin -->
      <section class="content-section">
        <div class="container">

          <div class="row">
            <div class="col-sm-6">

              <h2>We Love Hunting</h2>
              <p>And we were surprized that you never found any spot to shour hunting!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.</p>
            <!--   <p class="cta-button">
                <a href="#" class="button"><i class="fa fa-heart"></i> Get Started!</a>
              </p> -->

            </div>
            <div class="col-sm-6">

              <p><!-- <img src="../dummies/content_img_01.jp../g" alt=""> --></p>

            </div>
          </div>

        </div>
      </section>
      <!-- CONTENT SECTION : end -->

      <!-- CONTENT SECTION - OUR TEAM : begin -->
      <section class="content-section our-team">
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-sm-offset-7">

              <h2>We Want You To Love Hunting Too.</h2>
              <p>Check our site out, look around and find the hunting you love.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.</p>
            <!--   <p class="cta-button">
                <a href="#" class="button"><i class="fa fa-heart"></i> Get Started!</a>
              </p> -->

            </div>
          </div>
        </div>
      </section>
      <!-- CONTENT SECTION - OUR TEAM : end -->

    </div>
    <!-- CORE : end -->

        </div>
      </div>
    </div>
    <!-- TESTIMONIALS : end -->
