</head>
  <body class="enable-fixed-header enable-inview-animations">


    <!-- CORE : begin -->
    <div id="core" class="page-about-us">

      <!-- CONTENT SECTION : begin -->
      <section class="content-section">
        <div class="container">

          <div class="row">
            <div class="col-sm-6">

              <h2>About Casa</h2>
              <p>Casa was made to make your travelling around the world more exciting and less expensive!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.</p>
              <p class="cta-button">
                <a href="#" class="button"><i class="fa fa-heart"></i> Get Started!</a>
              </p>

            </div>
            <div class="col-sm-6">

              <p><!-- <img src="../dummies/content_img_01.jp../g" alt=""> --></p>

            </div>
          </div>

        </div>
      </section>
      <!-- CONTENT SECTION : end -->

      <!-- CONTENT SECTION - OUR TEAM : begin -->
      <section class="content-section our-team">
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-sm-offset-7">

              <h2>Our team</h2>
              <p>We are a team of young passionates of travels. We needed a place to make our travels really something. That is how the idea of Casa came to life.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.</p>
              <p class="cta-button">
                <a href="#" class="button"><i class="fa fa-heart"></i> Get Started!</a>
              </p>

            </div>
          </div>
        </div>
      </section>
      <!-- CONTENT SECTION - OUR TEAM : end -->

    </div>
    <!-- CORE : end -->

    <!-- TESTIMONIALS : begin -->
    <div id="testimonials">
      <div class="container">
        <div class="testimonials-inner">

          <!-- TESTIMONIAL LIST : begin -->
          <div class="testimonial-list">

            <!-- TESTIMONIAL 1 : begin -->
            <div class="testimonial">
              <p class="portrait"><img src="../dummies/portrait_01_200.jpg" alt="Jenny"></p>
              <blockquote class="quote">
                <p>I had the best time of my life and all thanks to Casa! It’s so amazing, everyone should try it!</p>
                <footer><cite>Jenny - Toronto, Canada</cite></footer>
              </blockquote>
            </div>
            <!-- TESTIMONIAL 1 : end -->

            <!-- TESTIMONIAL 2 : begin -->
            <div class="testimonial">
              <p class="portrait"><img src="../dummies/portrait_02_200.jpg" alt="Jenny"></p>
              <blockquote class="quote">
                <p>I had the best time of my life and all thanks to Casa! It’s so amazing, everyone should try it!</p>
                <footer><cite>Jenny - Toronto, Canada</cite></footer>
              </blockquote>
            </div>
            <!-- TESTIMONIAL 2 : end -->

            <!-- TESTIMONIAL 3 : begin -->
            <div class="testimonial">
              <p class="portrait"><img src="../dummies/portrait_03_200.jpg" alt="Jenny"></p>
              <blockquote class="quote">
                <p>I had the best time of my life and all thanks to Casa! It’s so amazing, everyone should try it!</p>
                <footer><cite>Jenny - Toronto, Canada</cite></footer>
              </blockquote>
            </div>
            <!-- TESTIMONIAL 3 : end -->

          </div>
          <!-- TESTIMONIAL LIST : end -->

          <!-- NAVIGATION : begin -->
          <div class="navigation">
            <button class="button prev"><i class="fa fa-chevron-left"></i></button>
            <button class="button next"><i class="fa fa-chevron-right"></i></button>
          </div>
          <!-- NAVIGATION : end -->

        </div>
      </div>
    </div>
    <!-- TESTIMONIALS : end -->
    