<!-- BANNER : begin -->
    <div id="banner">


      <!-- BANNER BG : begin -->
      <div class="banner-bg">
        <div class="banner-bg-item"><img src="http://lifeinthegreatoutdoors.com/wp-content/uploads/2013/10/the-great-outdoors.jpg" alt=""></div>
      </div>
      <!-- BANNER BG : end -->

      <!-- BANNER SEARCH : begin -->
      <div class="banner-search">
        <div class="banner-header">
          <h1>Welcome To Tapio.</h1>
          <p>Giving you outdoor happieness.</p>
        </div>
        <div class="container">
          <div class="banner-search-inner">
            <ul class="custom-list tab-content-list">

              <!-- SWAP : begin -->
              <li class="tab-content active">
                <form class="default-form" action="/lisings">

                  <!-- SEARCH INPUT : begin -->
                  <span class="search-input">
                    <input type="text" placeholder="Where do you want to hunt?">
                  </span>
                  <!-- SEARCH INPUT : end -->

                  <!-- ARRIVAL DATE : begin -->
                  <span class="calendar-input input-left" title="when">
                    <input type="text" name="when" placeholder="When?" data-dateformat="m/d/y">
                    <i class="fa fa-calendar"></i>
                  </span>
                  <!-- ARRIVAL DATE : end -->

                  

                  <!-- ADULTS : begin -->
                  <span class="select-box" title="Sportsmen">
                    <select name="sportsmen" data-placeholder="With Who?">
                      <option>Sportsmen</option>
                      <option value="1">1 Sportsman</option>
                      <option value="2">2 Sportsmen</option>
                      <option value="3">3 Sportsmen</option>
                      <option value="4">4 Sportsmen</option>
                      <option value="5">5 Sportsmen</option>
                    </select> 
                  </span>
                  <!-- ADULTS : end -->

                  <!-- SUBMIT : begin -->
                  <span class="submit-btn">
                    <button class="button"><i class="fa fa-search"></i> Search</button>
                  </span>
                  <!-- SUBMIT : end -->

                </form>
              </li>
              <!-- SWAP : end -->

            </ul>
          </div>
        </div>
      </div>
      <!-- BANNER SEARCH : end -->

    </div>
    <!-- BANNER : end -->

    <!-- CORE : begin -->
    <div id="core">

      <!-- CONTENT SECTION - SERVICES : begin -->
      <section class="content-section services">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">

              <!-- SERVICE 1 : begin -->
              <div class="service-container">
                <p class="service-icon"><i class="fa fa-refresh"></i></p>
                <h3 class="service-title">Swap House</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in.</p>
                <p><a href="#" class="button"><i class="fa fa-refresh"></i> Get Started!</a></p>
              </div>
              <!-- SERVICE 1 : end -->

            </div>
            <div class="col-sm-4">

              <!-- SERVICE 2 : begin -->
              <div class="service-container">
                <p class="service-icon"><i class="fa fa-book"></i></p>
                <h3 class="service-title">Book a Stay</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in.</p>
                <p><a href="#" class="button"><i class="fa fa-book"></i> Get Started!</a></p>
              </div>
              <!-- SERVICE 2 : end -->

            </div>
            <div class="col-sm-4">

              <!-- SERVICE 3 : begin -->
              <div class="service-container">
                <p class="service-icon"><i class="fa fa-money"></i></p>
                <h3 class="service-title">Rent</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in.</p>
                <p><a href="#" class="button"><i class="fa fa-money"></i> Get Started!</a></p>
              </div>
              <!-- SERVICE 3 : end -->

            </div>
          </div>
        </div>
      </section>
      <!-- CONTENT SECTION - SERVICES : end -->
    
    </div>
    <!-- CORE : end -->

















